{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:tag-quotes' tag.name %}">{{tag.name}}</a>
                {% endfor %}
            </div>
            <span>
                by <small class="author" itemprop="author">{{quote.author.fullname}}</small>
                <a href="{% url 'quotes:about' quote.author_id %}">(about)</a>
            </span>
        </div>
        {% endfor %}
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                       href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                        <span aria-hidden="true">←</span>Previous
                    </a>
                </li>
                <li class="next">
                    <a class="{% if not quotes.has_next %} disabled {% endif %}"
                       href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                        Next<span aria-hidden="true">→</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2 tags-box">
        <h2>Top Ten tags</h2>
        {% for tag in top_tags %}
        <div class="tag-item mb-2">
            <a class="tag" style="font-size: 28px" href="{% url 'quotes:tag-quotes' tag.name %}">{{ tag.name }}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}