{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}
     
<div class="row">
    <div class="col-md-8 mb-3">
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
                <div class="tags">
                    Tags:
                    {% for tag in quote.tags.all %}
                    <a class="tag" href="/tag/{{tag}}">{{tag.name}}</a>
                    {% endfor %}    
                </div>

            <span>by <small class="author" itemprop="author">{{quote.author.fullname}}</small>
        <a href="/author/{{quote.author_id}}">(about)</a>
        </span> 


        </div>

</div>
{% endblock %}